body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F96F5D;
    min-height: 100vh;
    width: 100%;
}

main {
    background-color: #273D55;
    color: #F96F5D;
    display: flex;
    padding: 20px;
    width: 400px;
    margin: 30px auto 0px auto;
    flex-direction: column;
}

.name {
    font-size: 40px;
}

#front {
    margin-top: 5px;
    font-weight: 300;
    text-align: right;
    border-top: 2px solid #F96F5D;
    padding: 5px;
}

.tit {
    margin: 10px 5px 10px;
    font-size: 30px;
    background-color: #F96F5D;
    color: #273D55;
    padding: 10px;
    transition: all .2s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tit:hover {
    cursor: pointer;
    background-color: #403F4C;
    color: #e5f2f5;
}
.icocont {
    font-size: 20px;
}
#trabajos {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.tbox {
    width: 180px;
    height: 180px;
    background-color: #47688b;
    margin: 5px;
    padding: 5px;
    color: #e5f2f5;
    transition: all .2s;
}

.tbox:hover {
    background-color: #F96F5D;
    color: #273D55;
}

.app {
    font-size: 30px;
}

.info {
    margin-top: 10px;
    font-size: 15px;
}
#forma, #contacto {
    margin-left: 10px;
}
.carre {
    font-size: 25px;
}
.fac {
        margin-bottom: 10px;
}
#habi {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

}
.ico {
    font-size: 50px;
    margin: 15px;
    color: #F96F5D;
}
@media (max-width: 400px) {
    main {
        width: 95vw;
        padding: 5px;
    }
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
