/*********************************
GENERAL
*********************************/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
body {
    font-family: 'Roboto Slab', serif;
    background-color: #DE6449;
    color: #031926;
    position: relative;
    min-height: 100vh;
}

.centro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    position: absolute;
    width: 100%;
    height: 100%;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}


/*********************************
HOME
*********************************/

.mb {
    margin: 0;
    font-size: 60px;
}

.fe {
    font-weight: 100;
    margin: 0;
    font-size: 40px;
}

#home {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.titel {
    width: 250px;
}

.mail {
    font-size: 25px;
    margin-top: 30px;
    opacity: 0;
}


/*********************************
ABOUT
*********************************/

#about {
    color: #DDA448;
    text-align: center;
}

.homea {
    border: 2px solid #DDA448;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    transition: all .3s;
    width: 100px;
    display: inline-block;
    background-color: #8D6A9F;
}

.homea:hover {
    background-color: #DDA448;
    color: #8D6A9F;
    cursor: pointer;
}

.dato {
    font-size: 25px;
}

#about i {
    font-size: 25px;
    margin: 5px;
    opacity: .5;
}

#about p,
#contact p,
#skills p {
    font-size: 55px;
    margin: 0;
    padding: 0;
}

#about i:hover {
    opacity: 1;
}


/*********************************
SKILLS
*********************************/

.pantaskills {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    margin-top: 70px;
}

#skills {
    color: #E58C8A;
    text-align: center;
}

.homes {
    border: 2px solid #E58C8A;
    margin: 5px auto 5px auto;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    transition: all .3s;
    width: 100px;
}

.homes:hover {
    background-color: #E58C8A;
    color: #577590;
    cursor: pointer;
}

.allbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    max-width: 420px;
}

.skbox {
    width: 120px;
    height: 120px;
    position: relative;
    text-align: center;
    margin: 10px;
}

.skdata {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #E58C8A;
    color: #577590;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.skicon {
    position: absolute;
    width: 120px;
    height: 120px;
    color: #E58C8A;
    font-size: 100px;
}

.skicon:hover,
.skdata:hover {
    cursor: pointer;
}


/*********************************
PORTFOLIO
*********************************/

.bt {
    border: 2px solid #031926;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transition: all .3s;
}

.bt:hover {
    background-color: #031926;
    color: #DE6449;
    cursor: pointer;
}

.pantaportfolio {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    color: #62BCC4;
    font-size: 60px;
    text-align: center;
}

.tbox {
    font-size: 25px;
    background-color: #62BCC4;
    color: #087F8C;
    padding: 10px;
    width: 300px;
    height: 100px;
    position: relative;
    margin: 10px;
    text-align: left;
}

.homep {
    width: 100px;
    margin: 0 auto;
    border: 2px solid #62BCC4;
}

.homep:hover {
    background-color: #62BCC4;
    color: #087F8C;
}

.info {
    position: absolute;
    font-size: 15px;
    display: none;
}

.trabajos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    max-width: 700px;
    width: 100%;
}


/*********************************
MEDIA
*********************************/

@media (max-width: 414px) {
    #home {
        flex-direction: column;
    }
    .titel {
        text-align: center;
    }
    .menu {
        display: flex;
        margin-top: 10px;
    }
    .fe {
        font-size: 25px;
    }
    .info {
        display: block;
    }
    .tbox {
        width: 250px;
    }
    .dato {
        font-size: 20px;
    }
    #about {
        padding: 10px;
    }
    #about i {
        opacity: 1;
    }
    .mail {
        font-size: 20px;
    }
}

@media (min-width: 1920px) {
    .mb {
        font-size: 100px;
    }
    .fe {
        font-size: 60px;
    }
    .bt {
        margin: 10px auto;
        font-size: 30px;
    }
    .titel {
        width: 400px;
    }
}
