@font-face {
    font-family: "Roboto Slab";
    src:url("font/RobotoSlab-Regular.ttf");
}

* {
	font-family: 'Roboto Slab', serif;
}

.container {
	width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.auto {
	margin: 0;
}

.title {
	margin-bottom: 30px;
}

.sub-title {
	display: none;
}

.double-line {
	display: flex;
}


.grid {
    position: fixed;
    max-width: 160px;
    display: flex;
    z-index: 1;
    bottom: 10px;
    flex-wrap: wrap;
    right: 0;
}

.grid-block {
	width: 14px;
    height: 14px;
    margin: 2px;
    background-color: #888888;
}

.caracteres {
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caracter {
    width: 20px;
    height: 20px;
    background-color: #000;
    margin: 11px;
}

/* fingerprint */

.wrap {
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.fingerprint {
  width: 350px;
  z-index: 9;
  cursor: grab;
}

.fingerprint.clone {
  margin: auto;
  width: 335px;
  z-index: 8;
  position: fixed;
  display: block;
  top: 0; left: 0; bottom: 0; right: 0;
  transition: opacity .75s ease-out;
  opacity: 1;
  
  path {
    transition: fill .2s ease-out;
  }
  
  &.active {
    opacity: 0;
  }
  
  &.hover {
    path {
      fill: darken(#FAFAFA, 12%);
    }
  }

  svg {
    fill: #FAFAFA;
  }
}
